<?xml version="1.0" ?>
<robot name="LISM_Arm">

    <!-- Basic colors -->
    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
    <material name="greyblack">
        <color rgba="0.1765 0.1765 0.1765 1"/>
    </material>
    <material name="blue">
        <color rgba="0.0 0.0 0.8 1.0"/>
    </material>
    <material name="green">
        <color rgba="0.0 0.8 0.0 1.0"/>
    </material>
    <material name="grey">
        <color rgba="0.3 0.3 0.3 1"/>
    </material>
    <material name="silver">
        <color rgba="0.8 0.8 0.8 1"/>
    </material>
    <material name="red">
        <color rgba="0.8 0.0 0.0 1.0"/>
    </material>
    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="anymal_material">
        <color rgba="0.7 0.7 0.7 1.0"/>
    </material>


    <!-- Material for the visual primitives -->
    <material name="anymal_material">
        <color rgba="0.7 0.7 0.7 1.0"/>
    </material>

<!---=============================the base of fixing arm======================-->
    <!--base of fixing arm-->
    <link name="world"/>

    <joint name="worldTolink1" type="fixed">
        <parent link="world"/>
        <child link="base_plate"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="base_plate">
        <visual>
            <origin rpy="0.335 0.18 0.0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="5" radius="0.05"/>
            </geometry>
            <material name="anymal_material"/>
        </visual>
        
    </link>

    <joint name="base_fix" type="fixed">
        <axis xyz="1 0 0"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="base_plate"/>
        <child link="fix_pillar"/>
    </joint>

    <link name="fix_pillar">
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0.5"/>
            <geometry>
                <cylinder length="1" radius="0.05"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

</robot>